complex_type_schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
xmlns:mh="http://www.Monson-Haefel.com/jwsbook"
targetNamespace="http://www.Monson-Haefel.com/jwsbook" >
<element name="purchaseOrder" type="mh:PurchaseOrder" />
<element name="address" type="mh:USAddress" />
<complexType name="PurchaseOrder">
  <sequence>
    <element name="accountName" type="string" />
    <element name="accountNumber" type="unsignedShort" />
    <element name="shipAddress" type="mh:USAddress" />
    <element name="billAddress" type="mh:USAddress" />
    <element name="book" type="mh:Book" />
    <element name="total" type="float" />
  </sequence>
</complexType>
<complexType name="USAddress">
  <sequence>
    <element name="name" type="string"
    <element name="street" type="string"
    <element name="city" type="string"
    <element name="state" type="string"
    <element name="zip" type="string"
  </sequence>
</complexType>
