XML/schema/import.xml

<!-- PurchaseOrder type depends on the Address type, we'll need to import the Address Markup schema into the Purchase Order schema -->

<?xml version="1.0" encoding="UTF-8" ?>
<schema
  targetNamespace="http://www.Monson-Haefel.com/jwsbook/PO"
  xmlns:po="http://www.Monson-Haefel.com/jwsbook/PO"
  xmlns:addr="http://www.Monson-Haefel.com/jwsbook/ADDR"
  xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://www.Monson-Haefel.com/jwsbook/ADDR"
    schemaLocation="http://www.Monson-Haefel.com/jwsbook/addr.xsd" />
    <element name="purchaseOrder" type="po:PurchaseOrder"/>
    <simpleType name="Total">
      <restriction base="float">
        <minInclusive value="0.00"/>
        <maxExclusive value="100000.00"/>
        <pattern value="[0-9]+\.[0-9]{2}"/>
      </restriction>
    </simpleType>
    <complexType name="PurchaseOrder">
      <sequence>
        <element name="accountName" type="string"/>
        <element name="accountNumber" type="unsignedShort"/>
        <element name="shipAddress" type="addr:Address"/>
        <element name="billAddress" type="addr:Address"/>
        <element name="book" type="po:Book"/>
        <element name="total" type="po:Total"/>
       </sequence>
       <attribute name="orderDate" type="date"/>
      </complexType>
    <complexType name="Book">
      <sequence>
        <element name="title" type="string"/>
        <element name="quantity" type="unsignedShort"/>
        <element name="wholesale-price" type="float"/>
      </sequence>
    </complexType>
</schema>
