XML/formElementDefault.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:mh="http://www.Monson-Haefel.com/jwsbook"
  targetNamespace="http://www.Monson-Haefel.com/jwsbook"
  elementFormDefault="qualified" >
  <element name="address" type="mh:USAddress" />
  <complexType name="USAddress">
  <sequence>
    <element name="name" type="string" />
    <element name="street" type="string" />
    <element name="city" type="string" />
    <element name="state" type="string" />
    <element name="zip" type="string" />
  </sequence>
  </complexType>
...
</schema>

<!-- An instance -->

<?xml version="1.0" encoding="UTF-8"?>
<addr:address
  xmlns:addr="http://www.Monson-Haefel.com/jwsbook" >
  <addr:name>AMAZON.COM</addr:name>
  <addr:street>1850 Mercer Drive</addr:street>
  <addr:city>Lexington</addr:city>
  <addr:state>KY</addr:state>
  <addr:zip>40511</addr:zip>
</addr:address>
